[submodule "test/gmock"]
	path = test/gmock
	url = http://git.chromium.org/external/googlemock.git
[submodule "test/gtest"]
	path = test/gtest
	url = http://git.chromium.org/external/googletest.git
[submodule "sconshelper"]
	path = sconshelper
	url = https://github.com/schansge/sconshelper.git
[submodule "bindings/python/sconshelper"]
	path = bindings/python/sconshelper
	url = https://github.com/schansge/sconshelper.git
